.container { 
   background: linear-gradient(#0b2ad8, #da0d8b);    
height: 100vh; 
display: flex;
align-items: flex-start;
justify-content: center;
flex-direction: column;
}

.img{
    width: 100px;
    height: 100px;
}





