<div class="container">
<div class="task">
    <h2>Formulario</h2>
    <form>

    Nome da task: <input type="text" name="nomedatask" id="nomedatask" placeholder="nomedatask">
    <br>
    Descriacao da task: <input type="text" name="nomedatask" id="nomedatask" placeholder="nomedatask">
    <br>
    Responsavel da task: <input type="text" name="nomedatask" id="nomedatask" placeholder="nomedatask">
    <br>
    Data de termino: <input type="Date" name="nomedatask" id="nomedatask" placeholder="nomedatask">
    <br>
    Data da criacao: <input type="Date" name="nomedatask" id="nomedatask" placeholder="nomedatask">
    </form>
    <div class="button">
        <button>Cancelar</button>
        <button>Cadastrar</button>
    </div>


</div>
</div>











