<div class="container">
<form action="">
    nome da task: <input type="text" name="nomedatask" id="nomedatask" placeholder="nomedatask">
    Descriacao da task: <input type="text" name="nomedatask" id="nomedatask" placeholder="nomedatask">
    Responsavel da task: <input type="text" name="nomedatask" id="nomedatask" placeholder="nomedatask">
    Data de termino: <input type="text" name="nomedatask" id="nomedatask" placeholder="nomedatask">
    Data da criacao: <input type="text" name="nomedatask" id="nomedatask" placeholder="nomedatask">
</form>








