<div class="container">
    
<div class="task">
    <h2>Formulário</h2>
    <div class="item">

            <label for="nomedatask"> Nome da task:</label>
            <input type="text" name="nomedatask" id="nomedatask" placeholder="nomedatask"
            [formControl]="nome" />
            
            <label for="nomedatask">Descriacao da task:</label>
            <input type="text" name="nomedatask" id="nomedatask" placeholder="nomedatask"
            [formControl]="descricao" />

            <label for="nommedatask">Responsavel da task:</label>
            <input type="text" name="nomedatask" id="nomedatask" placeholder="nomedatask"
            [formControl]="responsavel" />

            <label for="">Data de termino:</label>
            <input type="Date" name="nomedatask" id="nomedatask" placeholder="nomedatask"
            [formControl]="dt_inicio" />

            <label for="">Data da criacao:</label>
            <input type="Date" name="nomedatask" id="nomedatask" placeholder="nomedatask"
            [formControl]="dt_fim" />
        

    </div>
    <div class="button">
        <button>Cancelar</button>
        <button (click)="addTask()">Cadastrar</button>
    </div>


</div>
</div>











