:root {
    --bg-menu: #5a9cd6;

    --shadow: #696969;
}


.container {
    margin: 20px auto;
    width: 90%;
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr 350px;
    box-shadow: 0 0 15px #696969;
    border-radius: 10px;

}



.user-info {
    display: grid;
    grid-template-rows: 150px 200px 1fr;
}

.profile {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    justify-items: center;
    padding: 10px;
}

.profile .img {
      width: 80px;
      height: 80px;
      background-color: rgb(162, 0, 255);
      border-radius: 50%;
}

.user-info .menu ul {
    padding: 5px;
}

.user-info .menu li {
    list-style: none;
    padding: 5px 20px;
}

.user-info .menu li i {
    color:  var(--shadow);
    font-size:  16px; 
    margin-right:  15px; 
}

.user-info .menu li a {
    color: var(--shadow);
    font-size:  16px; 
    text-decoration: none; 

}

.content {
    display: grid;
    grid-template-rows: 100px 200px 1fr;
    padding: 40px;
}


.user, .user-info {
    background: #f7f8fa;
}


.content .search {
    display: grid;
    grid-template-columns: 150px auto;
    justify-content: space-between;
    align-items: center;
}

.content .search .input {
    background: #f1f8ff ;
    display: flex;
    height: 40px;
    width: 300px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.content .search .input input {
    background: transparent;
    border: none;
    margin-left:15px;
    height: 30px;
    width: 160px;
    outline: none;
}   

.content .search .input .icon {
    height: 100%;
    width: 35px;
    color: #fff;
    font-size: 24px;
    background: #6555e2;
    align-items: center;
    justify-content: center;
    display: flex;

}

.user,
.user-info {
    background: #f1f8ff;
    border-radius: 5px;
}

.content .info {
    display: grid;
    grid-template-columns: 2.7fr 1.3fr;
    gap: 30px;
}

.content .info .box1 {
    background: #fadbba;
}

.content .info .box2 {
    background:#f0ecfe ;
}


.content .adm {
    display: grid;
    grid-template-columns: 1.4fr 1.1fr;
    gap: 30px;
    margin-top: 30px;
}

.content .adm .task {
    background: rgb(28, 180, 173);
}

.content .adm .team {
    background: rgba(124, 54, 118, 0.205);

}
.content .adm .team .title {
    background: rgba(54, 124, 97, 0.205);
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 5px;
    
}

.content .adm .team .title span {
   font-size: 18px;
   font-weight: 600;
    
}

.content .adm .team .title .ball {
    background: black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 15px 0 25px ;

    
}
.content .adm .team .title .ball  i {
    color: #fff;
    font-size: 22px;
}
























